<div class="row mb-5">
    <div class="col-12 text-wrap">
        {% if node.field_image %}
        <div class="col-12 col-lg-6 float-none float-lg-end">
            <img id="resource-img" class="img-fluid rounded-3 mx-0 mx-lg-4 mb-4" src="{{ file_url(node.field_image.entity.uri.value) }}" alt="{{ node.field_image.alt }}">
        </div>
        {% endif %}

        {% if node.field_link_to_resource.0.url %}
            <p><strong>Resource Link:</strong> <a class="link-primary" href="{{ node.field_link_to_resource.0.url }}">{{ node.field_link_to_resource.0.title }}</a></p>
        {% endif %}
        {{ content.body|raw }}
    </div>
</div>
